//author：广州银云信息科技有限公司
$CONTENT-TOP: 106px;
$INHERIT-BORDER-COLOR: #eaeaea;
$HOME-SECOND-SIDEBAR-LEFT:242px;
$HOME-SIDEBAR-LEFT:241px;
$HOME-GROUP-SIDEBAR-LEFT:251px;
$HOME-SHRINK-SIDEBAR-LEFT:51px;
$HOME-NAVBAR-HEIGHT:51px;
%BORDER {
    border: 1px solid $INHERIT-BORDER-COLOR;
    border-radius: 3px;
}
%BATCH-OPERATION {
    &:nth-child(odd),
    &:nth-child(even) {
        background-color: #ffecb3;
    }
}
%COMMON-ADVERT-STYLE {
    padding: 0 10px 10px 10px;
    >div {
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background: #fff;
        padding: 10px;
        .title-p {
            font-size: 16px;
            b {
                color: #4CAF50;
            }
        }
        .common-elem {
            font-size: 14px;
        }
        .detail-p {
            line-height: 40px;
        }
        .btn-a {
            padding: 5px 10px;
            color: #4CAF50;
            display: inline-block;
            border: 1px solid #4CAF50;
            border-radius: 3px;
            &:hover {
                background-color: #43A047;
                color: #fff;
            }
        }
        .go-detail-a {
            margin-left: 10px;
            font-size: 14px;
            color: #9E9E9E;
        }
    }
}

%COMMON-CONTAINER-STYLE {
    overflow-y: auto;
    position: absolute;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
    overflow-x: hidden;
    @include eo-height(100%, $HOME-NAVBAR-HEIGHT + 72px);
    table {
        width: 100%;
        background: #fff;
        font-size: 14px;
        border-spacing: 0;
        text-align: left;
        text-indent: 10px;
        table-layout: fixed;
    }
}

%GROUP-SIDEBAR-STYLE {
    width: 240px;
    position: fixed;
    left: $HOME-SIDEBAR-LEFT + 10px;
    z-index: 3;
    @include eo-height(100%, 51px);
    top: $HOME-NAVBAR-HEIGHT;
    .title-ul {
        line-height: 48px;
        height: 40px;
        .common-btn {
            @include eo-line(30px);
            padding: 0 10px;
            font-size: 12px;
            display: inline-block;
            .iconfont {
                font-size: 12px;
            }
            .btn-name {
                margin-left: 5px;
            }
            .tips-span {
                position: absolute;
                z-index: 3;
                box-shadow: 0 5px 10px #ddd;
                padding: 0 10px;
                white-space: nowrap;
                border-radius: 3px;
                text-indent: 0;
                background-color: #000;
                color: #fff;
                margin-left: 37px;
                @include eo-line(25px);
                font-size: 12px;
                display: none;
            }
            .triangle-bottom {
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-right: 5px solid #000;
                border-bottom: 4px solid transparent;
                position: absolute;
                z-index: 3;
                display: none;
                margin-left: 33px;
                margin-top: 8px;
            }
            &:hover {
                .tips-span,
                .triangle-bottom {
                    display: inline-block;
                }
            }
        }
        .default-btn {
            border: 1px solid #ddd;
            margin-left: 5px;
            border-radius: 3px;
            background-color: #fff;
            &:hover {
                background-color: #fafafa;
            }
        }
        .first-btn {
            margin-left: 0;
        }
    }
    .group-ul {
        border: 1px solid #dcdcdc;
        border-radius: 3px 0 0 3px;
        @include eo-height(100%, 72px);
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        width: 100%;
        background-color: #fff;
        margin-top: 10px;
        >.title-li {
            @include eo-line(40px, 41px);
            padding: 0 10px;
            border-bottom: 1px solid #e5e5e5;
            font-size: 14px;
            position: fixed;
            width: 220px;
            background-color: #fff;
        }
        .item-li {
            margin-top: 40px;
        }
        .group-li {
            overflow: hidden;
            font-size: 12px;
            @include eo-line(40px);
            padding-left: 7px;
            color: #555;
            cursor: pointer;
            .group-name {
                width: 80%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
            }
            .is-no-child {
                text-indent: 19px;
                width: 82%;
            }
            .child-group-name {
                width: 84%;
            }
            .active {
                display: none;
            }
            .title-icon {
                font-size: 13px;
            }
            .icon-xiangyou {
                float: left;
                margin-right: 5px;
                cursor: pointer;
                line-height: 43px;
            }
            .icon-xiangxia {
                float: left;
                margin-right: 5px;
                cursor: pointer;
                line-height: 45px;
            }
            &:hover {
                background-color: #e3f1e5;
                .icon-xiangxia {
                    color: $buttonSuccessFocusBgColor;
                }
                .active {
                    display: inline-flex;
                    float: right;
                    .icon-caidan,
                    .title-icon {
                        color: #555;
                        font-size: 14px;
                        display: inline-block;
                        padding-right: 10px;
                    }
                }
            }
            .sidebar-function {
                background-color: #fff;
                text-align: center;
                position: absolute;
                margin-top: -87px;
                margin-left: -77px;
                border: 1px solid #dcdcdc;
                box-shadow: -5px 5px 15px #ededed;
                border-radius: 3px;
                li {
                    color: #555;
                    font-weight: initial;
                    width: 100px;
                    cursor: pointer;
                    &:hover {
                        background-color: #eee;
                        color: #333;
                    }
                }
                .add-child-btn {
                    color: $buttonSuccessFocusBgColor;
                }
            }
            .envFirst {
                margin-top: -43px;
            }
        }
    }
    .background-group-li {
        &:hover {}
    }
    .elem-active {
        background-color: #ecf8ee;
        span {
            color: #4CAF50;
        }
    }
}

%CHILD-GROUP-SIDEBAR-STYLE {
    text-indent: 10px;
    .api-list-li {
        @include eo-width(100%, 7px);
        padding-right: 0;
        .group-name {
            text-indent: 33px;
            color:#333;
        }
        .sidebar-function {
            margin-left: -67px;
        }
    }
    .elem-active {
        background-color: #ccead1;
    }
}

%COMMON-GRID-STYLE {
    padding: 10px 10px;
    header {
        line-height: 50px;
        .common-btn {
            @include eo-line(30px);
            padding: 0 10px;
            font-size: 14px;
            display: inline-block;
            .iconfont {
                margin-right: 5px;
                font-size: 14px;
            }
        }
        .default-btn {
            border: 1px solid #ddd;
            margin-left: 5px;
            border-radius: 3px;
            background-color: #fff;
            &:hover {
                background-color: #fafafa;
            }
        }
    }
    .first-level-article {
        // margin-top: 10px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        .product-type-span {
            width: 40px;
            display: inline-block;
            @include eo-line(20px);
            text-align: center;
            text-indent: 0;
            margin-right: 5px;
        }
        table {
            width: 100%;
            background: #fff;
            font-size: 14px;
            border-spacing: 0;
            text-align: left;
            text-indent: 15px;
            border-radius: 3px;
            thead {
                font-weight: bold;
                @include eo-line(50px);
            }
            tbody {
                tr {
                    @include eo-line(50px);
                    th,
                    td {
                        cursor: pointer;
                    }
                    th {
                        font-weight: initial;
                    }
                    td {
                        color: #999;
                        a {
                            color: #999;
                            .iconfont {
                                font-size: 14px;
                                color: #999;
                                padding: 5px;
                            }
                            &:hover {
                                color: #333;
                                .iconfont {
                                    color: #333;
                                }
                            }
                        }
                        .home-function-delete {
                            margin-left: 10px;
                        }
                    }
                    &:hover {
                        background-color: #efefef;
                    }
                    &:first-child {
                        td,
                        th {
                            border-top: 1px solid #e5e5e5;
                        }
                    }
                }
            }
        }
    }
}

home {
    .home-content {
        @extend %CONTENT-INIT-TYPE;
        background: #f8f8f8;
        .home-div {
            margin: $HOME-NAVBAR-HEIGHT 0 0 $HOME-SIDEBAR-LEFT;
            .home-header {
                li {
                    button {
                        width: 100px;
                        @include eo-line(30px);
                        margin-top: 15px;
                        span {
                            font-size: 14px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .shrink-div {
        .eo-sidebar {
            @extend %SHRINK-SIDEBAR;
        }
        .home-content {
            .home-div {
                margin-left: $HOME-SHRINK-SIDEBAR-LEFT;
                .second-sidebar {
                    left: $HOME-SHRINK-SIDEBAR-LEFT;
                }
            }
        }
    }
}
